.active-pink-2 input[type=text]:focus:not([readonly]) {
    border: none;
    border-bottom: 2px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type=text] {
    border: none;
    border-bottom: 2px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
  
.active-pink, .active-pink-2, .fa, .fa-search {
    color: #f48fb1;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF; overflow: auto;
}

.autocomplete-suggestion {
  padding: 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  font-size:22px;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: bold;
  color: #3399FF;
}